body{
	background: #555;	
}
.main_block{
}
.options_block{	
	float:left;
	display: inline-block;
}

.options_block div.hideable{
	width:300px;
}
.demo_block{
	
	margin:5px;
	
	display: inline-block;
}
.buttons_wrapper{
	display:flex;
}
.info_block{	
	
	margin:5px;
	float:right;
	display: inline-block;
}
.info_block div.hideable{
	width:300px;
}
.hideable{	
}
canvas{
	display:block;
}
.info{
	margin-bottom: 8px;
}
.credits{
	float:right;
}
.button{
	display: inline-block;
	padding: 6px;
	width:100%;
	text-align:center;
	font-family: 'arial';	
	transition: linear 0.1s;
}
.button.small{	
	margin:-9px;
	padding:4px;
	font-size:7px;
	width:5px;
	height:5px;
}
.button:hover{
	transition: linear 0.1s;
}
.button:active{
	transition: linear 0.1s;
}
.label{
	color:#888;
	margin:5px;
	font-style: italic;
}